body {
    background: #CCCCCC
}

p {
    text-align: center;
}

em strong {
    color: #FF0000;
}
.beneficios {
    padding: 3em 0;
    background: #888888;
}

.conteudo-beneficios {
    width: 640px;
    margin: 0 auto;
}

.lista-beneficios {
    width: 40%;
    display: inline-block;
    vertical-align: top;
}

.itens {
    line-height: 1.5;
}

.itens:first-child {
    font-weight: bold;
}

.imagem-beneficios {
    width: 60%;
}.video {
    width: 560px;
 .mapa-conteudo {
    width: 940px;
    margin: 0 auto;
}

.principal {
    padding: 3em 0;
    background: #FEFEFE;
    width: 940px;
    margin: 0 auto;
}   margin: 2em auto;
}.mapa {
    padding: 3em 0;
    background: linear-gradient(#FEFEFE, #888888);
}.itens:before {
    content: "★";
}
